@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

/* 1st nav colom styles */

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.625rem;
    height: 2.625rem;
    padding: 10px;
    border-radius: 0.875rem;
    cursor: pointer;
    color: #27AE60;
    margin: 4px 0;
}

.items:hover {
    background: #27AE60;
    color: white;
    transition: .4s;
    box-shadow: 0px 4px 4px 0px rgba(39, 174, 96, 0.15);
}

.set>* {
    padding: 10px;
    cursor: pointer;
    margin: 4px 0;
    border-radius: 0.575rem;
}

.set>*:hover {
    background: rgba(22, 22, 22, 0.082);
    transition: .4s;
}


/* 2nd colome style  */

/* text color */
.gray {
    color: #333;
}

/* col2 music list img */
.cover {
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 0.375rem;
    margin: 0 9px;
}



/* colome 3 */
.col-3 {
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    accent-color: #27AE60;
}

input[type="range"] {
    accent-color: #27AE60;
    height: 3px;
    cursor: pointer;
}

.play>* {
    cursor: pointer;
}

@media (max-width: 750px) and (min-width: 460px) {

    .col1 {
        display: none;
    }

    .col2,
    .col4 {
        display: none;
    }

    .col3 {
        margin: 0;
    }

    input[type="range"] {
        width: 15rem;
    }

}

@media (max-width:420px) {

    .col1 {
        display: none;
    }

    .col2,
    .col4 {
        display: none;
    }

    .col3 {
        margin: 0;
    }

    input[type="range"] {
        width: 15rem;
    }

    .cover-img {
        width: 10rem;
    }

    .num {
        display: none;
    }
}